/* Header Section and Home Section (Erik) */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  color: #858585;
  background-color: #fff;
}

.align-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_ {
  padding: 0 3rem;
  max-width: 1400px;
  width: 100%;
}

.row {
  display: inline-flex;
}

.column {
  float: left;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container_ {
    padding: 0 1rem;
  }
  .row {
    width: 100%;
    flex-direction: column;
  }
  [class*="column"] {
    width: 100%;
  }
}

.text {
  color: #6A6A6A;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.btn_blue {
  background-color: #0C5ADB;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 30px;
}

.nav_responsive {
  display: none;
  flex-direction: row;
  align-items: stretch;
}

.nav_responsive_logo {
  flex-grow: 2
}

.nav_responsive_tools {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}

.nav_responsive_menu {
  list-style: none;
  flex-grow: 3;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nav_responsive {
    display: flex;
    align-items: center;
  }
}

.navbar {
  list-style: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.nav_content {
  display: flex;
  align-items: stretch;
}

.nav_logo {
  flex-grow: 2;
}

.nav_logo img {
  width: 12rem;
  max-width: 10rem;
}

.nav_menu {
  list-style: none;
  flex-grow: 6;
  align-items: start;
}

nav .menu_list {
  list-style: none;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5rem;
  display: flex;
  align-items: stretch;
}

nav .menu_item {
  padding: 0 0.5rem;
  position: relative;
  flex-grow: 1;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  top: 100%;
  left: 0
  
}

.menu_item:hover .dropdown-content {
  display: block;
  z-index: 9999;
}

.nav_tools {
  list-style: none;
  
  display: flex;
  /* alinear los items a la derecha */
  justify-content: flex-end;
  flex-grow: 1
}

.navbar .btn {
  background-color: #0C5ADB;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 5px;
  margin: 0 5px;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 0.5rem;
  }
  .nav_content {
    display: none;
  }
}

.header {
  background-image: url(https://wp.ditsolution.net/techno/wp-content/uploads/2020/11/home-2-bg.jpg);
  display: flex;
  color: #fff;
  padding-top: 10rem;
  /* min-height: min-content; */
}

.header_text {
  width: 70%;
  padding-bottom: 4rem;
  animation: appear 2s ease;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(15px);
}

.header .refer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

@keyframes appear {
  30% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .title {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-flex;
}

.header .subtitle {
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-flex;
}

.intro_link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 30px 30px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;

}
.header_button {
  border-radius: 50%;
  background-color: #fff;
  color: #0B59DA;
  padding: 3px;
  display: inline-flex;
  justify-content: center;
  margin-right: 2rem;
  animation: shadow 1.3s ease infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(228, 228, 228, 0.1);
  }
}


.header_button span {
  font-size: 3.5rem;
  font-weight: 500;
}

.header .image {
  justify-content: center;
  align-items: self-end;
  width: 40%;
  position: relative;
  overflow: hidden;
}

.header .image img {
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .header{
    padding-top: 6.5rem;
    padding-bottom: 1rem;
  }
  .header_text {
    width: 100%;
  }
  .header .image {
    display: none;
  }
  .image_rotate {
    display: none;
  }
  .image_rotate img {
    display: none;
  }
}

.image_rotate {
  right: 0%;
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  min-height: min-content;
  /* alinear elementos a la derecha */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

.image_rotate img {
  position: absolute;
  width: auto;
  height: 50%;
  z-index: 7;
  
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.about_us {
  padding: 50px 0;
  display: flex;
}

.about_text {
  width: 45%;
}

.about_us .refer {
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #135EDA;
  font-weight: 700;

}

.about_us .title {
  margin: 10px 0;
  font-size: 1.8rem;
  font-weight: 00;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

.about_us .title span {
  color: #0C5ADB;
}

.about_us .subtitle {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
}

.about_us .text {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
  border-left: 1px solid #BFDEED;
  padding-left: 25px;
}

.about_us .image {
  margin: 10px 0;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  flex-direction: column;
}

.about_us .image img {
  width: auto;
  height: 50%;
  object-fit: cover;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 50rem;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 8rem;
  right: 4rem;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.about_us .details {
  margin: 20px 0;
  
  text-decoration: none;
  display: inline-flex;
  text-transform: capitalize;
}

/* al poner el cursor cambia de color del fondo */
.about_us .details:hover {
  background-color: #00247E;
}


@media screen and (max-width: 768px) {
  .about_us {
    flex-direction: column;
    padding: 1rem 0;
  }
  .about_text {
    width: 100%;
  }

  .about_us .image {
    width: 100%;
  }
}

.advantages {
  padding: 4rem 0;
  background-color: #EFF2F7;
}

.card_list {
  display: flex; 
  flex-direction: row;
  margin: 0 2rem;
}

.advantages .index {
  justify-content: space-between;
  align-items: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #0C5ADB;
  font-weight: 700;
  font-size: 1.5rem;
}

.advantages hr {
  border: 1px solid #0C5ADB;
  width: 20px;
  margin: 15px 10px;
  /* longitud de 10px */
}

.card_body {
  margin: 0px 10px;
}

.card_body .title {
  font-size: 1.5rem;
  font-weight: 600;
  
  color: #232323;
  text-decoration: none;
  text-transform: capitalize;
}
.card_body .title:hover {
  color: #0C5ADB;
}

.card_body .text {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;  
}

.card_body a {
  margin-top: 5rem;
  text-decoration: none;
  color: #0C5ADB;
}

@media screen and (max-width: 768px) {
  .advantages {
    margin: 0px 0px;
    padding: 1rem 0;
  }
  .card_list {
    flex-direction: row;
    margin: 0px;
  }
}
/* Services and Choose Section (Brayan Sanchez) */





/* Portafolio ,Form and Team Member Section (Brayan Turin) */





/* End Section and Footer (Stefany) */